body{
  background-color: #EDEFED;
}
.img-responsive{
  max-width: 100%;
  height: auto;
  display:block;
  background-color: #FFFFFF;
}
.haut{
    margin-left: 8%;
}
.textecarousel{
  background-color: #FFFFFF;
  padding-bottom: 32px; 
}
.container{
  margin-top: 35px;
}
.textecarousel{
}
.texte1carousel{
  font-weight: bold;
  margin-top: 50px; 
}
.btn-lg{
  width: 100%;
  border-radius: 0px;
  background-color: #009AAB;
}
.textecenter{
    text-align: center; 
}
.boutondest{
    margin-left: auto;
    margin-right: auto; 
}
